/* basics */
* {
  box-sizing: border-box;
}
.grid__wrapper {
  display: block;
  margin: 0;
  padding: 0;
}
.grid__container { /* wrapper heeft altijd 1 container */
  display: block;
  max-width: 1140px; /* altijd 1140 px */
  margin: 0 auto; /* centreert */
  padding: 0px 16px;
}
.grid__row {
  display: block;
  margin: 0px -16px;
  padding: 0;
  overflow: hidden;
}
.grid__column {
  position: relative;
  float: left;
  padding: 0 16px;
}


/* column's */
.grid__column-12 {
  width: 100%;
}
.grid__column-11 {
  width: 91.6667%;
}
.grid__column-10 {
  width: 83.3333%;
}
.grid__column-9 {
  width: 75%;
}
.grid__column-8 {
  width: 66.6667%;
}
.grid__column-7 {
  width: 58.3333%;
}
.grid__column-6 {
  width: 50%;
}
.grid__column-5 {
  width: 41.6667%;
}
.grid__column-4 {
  width: 33.3333%;
}
.grid__column-3 {
  width: 25%;
}
.grid__column-2 {
  width: 16.6667%;
}
.grid__column-1 {
  width: 8.3333%;
}