/* basic */

* {
    box-sizing: border-box;
}
.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}
.grid__container {
    display: block;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 16px;
}
.grid__row {
    display: block;
    margin: 0px -16px;
    padding: 0;
    overflow: hidden;
}
.grid__row_index {
    padding: 50px 0 50px 0;
}
.grid__column {
    position: relative;
    float: left;
    padding: 0 16px;
}

/* column's */

.grid__port {
    width: 25%;
}
.grid_port_title {
    text-align: left;
    margin-top: 50px;
    width: 100%;
}
.grid__title {
    margin-top: 40px;
    width: 100%;
}
.grid__foto {
    width: 33.3333%;
}
.grid__text {
    padding-left: 150px;
    width: 66.6667%;
}
.grid_title_dienst {
    margin-top: 150px;
    text-align: center;
    width: 33.3333%;
}
.grid__dienst {
    width: 33.3333%;
}
.grid__form {
    width: 100%;
}
.grid__loca {
    width: 100%;
}
.grid_loca_text {
    width: 50%;
    padding-left: 52px;
}
.grid_loca_map {
    width: 50%;
    padding-left: 150px;
}
.grid__team {
    margin-top: 40px;
    width: 50%;
}
.grid__team_pic {
    padding-left: 120px;
}
.grid__team_txt {
    padding-right: 120px;
}
.grid_index_1 {
    width: 100%;
}