/*********************************** 
    KLEUREN:
        quick silver: #A0A0A0 
        gunmetal: #2A363B 
        japanese carmine: #992233 
        new york pink: #D87F77
        anti-flash white: #F2F2F2
***********************************/

/* basic */
body, html {
    margin: 0 auto;
    font-family: 'Cuprum', sans-serif;
    background: #2A363B;
    color: #F2F2F2;
}
.content {
    padding: 30px;
}
.main-nav {
    width: 100%;
    background-color: #F2F2F2;
    height: 70px;
    color: #000;
}
.main-nav .logo {
    float: left;
    height: 40px;
    padding: 15px 30px;
    font-size: 28px;
    line-height: 40px;
}
.main-nav>ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style-type: none;
}
.main-nav>ul>li {
    float: left;
}
.list {
    padding: 20px;
    font-size: 22px;
    margin-right: 3px;
}
.list a {
    color: #000;
    text-decoration: none;
}
.PixZ {
    width: 70px;
}

/* homepage */



/* portfolio */
.port {
    width: 180px;
    height: 180px;
}
.back-port:hover {
    background-color: rgba(153, 34, 51, 0.6);
}

/* over ons */
.team {
    width: 180px;
    height: 180px;
}

/* contact */
.formulier-1 {
    width: 225px;
}
.formulier-2-0 {
    width: 600px;
    height: 145px;
}
.formulier-2-1 {
    width: 600px;
    height: 183px;
}
legend {
    color: #F2F2F2;
    font-size: 16px;
    font-style: italic;
}
input[type=text], [type=email], [type=tel] {
    background: none;
    border: none;
    color: #F2F2F2;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
}
input[type=submit] {
    background-color: #992233;
    color: #F2F2F2;
    height: 45px;
    width: 253px;
    margin: 12px 1px 1px 1px;
    border-radius: 1px;
    border-color: #F2F2F2;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}
.contact-td {
    padding: 20px 60px 0 60px;
    text-align: justify;
}
#map {
    width: 421px;
    height: 335px;
    border-radius: 8px;
}

/* detailpagina's */
.det {
    width: 430px;
    height: 430px;
}

/* STYLEGUIDE */
button {
    background-color: #992233;
    color: #F2F2F2;
    height: 45px;
    width: 253px;
    margin: 12px 1px 1px 20px;
    border-radius: 1px;
    border-color: #F2F2F2;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
}
button:hover {
    background-color: #A0A0A0;
    color: #F2F2F2;
}
.backgr {
    margin: 20px;
    background-color: rgba(162, 162, 162, 0.3);
    border-radius: 8px;
    width: 300px;
    height: 220px;
    padding: 10px;
}
.color1 {
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: #A0A0A0;
    border: 2px solid black;
}
.color2 {
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: #2A363B;
    border: 2px solid black;
}
.color3 {
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: #992233;
    border: 2px solid black;
}
.color4 {
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: #D87F77;
    border: 2px solid black;
}
.color5 {
    margin: 20px;
    height: 100px;
    width: 100px;
    background-color: #F2F2F2;
    border: 2px solid black;
}
.text1 {
    color: #A0A0A0;
}
.text2 {
    color: #2A363B;
}
.text3 {
    color: #992233;
}
.text4 {
    color: #D87F77;
}
.text5 {
    color: #F2F2F2;
}