h1 {
    margin: 20px;
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 19px;
}
p {
    font-size: 18px;
}
.h1_index {
    font-size: 60px;
    padding-left: 360px;
    padding-right: 350px;
    margin-top: 80px;
    margin-bottom: 10px;
}
.h3_index {
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 10px;
    margin-bottom: 60px;
}